.agentsContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  margin-top: 3rem;
  height: 28rem;
  width: 100%;
  padding: 0 2.8rem;
}

.agentsContent{
  height: 100%;
  width: auto;
  
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 3.75rem;
}

.position1, .position7{
  height: 12rem;
  filter: blur(1px);
  opacity: 40%;

  transform: scale(1);
  transition: transform 0.2s linear;
}

.position1:hover, .position7:hover {
  transform: scale(1.1);
}

.position2, .position6{
  height: 16rem;
  filter: blur(1px);
  opacity: 50%;

  transform: scale(1);
  transition: transform 0.2s linear;
}

.position2:hover, .position6:hover {
  transform: scale(1.1);
}

.position3, .position5{
  height: 20rem;
  filter: blur(1px);
  opacity: 60%;

  transform: scale(1);
  transition: transform 0.2s linear;
}

.position3:hover, .position5:hover {
  transform: scale(1.1);
}

.position4{
  height: 24rem;

  transform: scale(1);
  transition: transform 0.2s linear;
}

.position4:hover {
  transform: scale(1.2);
}

@media screen and (max-width: 768px) {

  .agentsContainer{
    height: 20rem;
    margin-top: 1.5rem;
  }

  .agentsContent{
    gap: 1rem;
  }

  .position1, .position7{
    height: 4rem;
  }
  
  .position1:hover, .position7:hover {
    transform: scale(1.05);
  }
  
  .position2, .position6{
    height: 6rem;
  }
  
  .position2:hover, .position6:hover {
    transform: scale(1.05);
  }
  
  .position3, .position5{
    height: 10rem;
  }
  
  .position3:hover, .position5:hover {
    transform: scale(1.05);
  }

  .position4{
    height: 14rem;
  }

  .position4:hover {
    transform: scale(1.1);
  }
}