.agentsContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  margin-top: 3rem;
  height: 28rem;
  width: 100%;
  padding: 0 2.8rem;
}

.agentsContent{
  height: 100%;
  width: auto;
  
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 3.75rem;
}

.position1, .position2, .position3, .position4, .position5, .position6, .position7, .position8, .position18, .position19, .position20, .position21, .position22, .posistion23, .posistion24, .position25{
  visibility: hidden;
}

.position9, .position17{
  height: 8rem;
  filter: blur(1px);
  opacity: 30%;

  transform: scale(1);
  transition: transform 0.2s linear;
}

.position9:hover, .position17:hover {
  transform: scale(1.1);
}

.position10, .position16{
  height: 12rem;
  filter: blur(1px);
  opacity: 40%;

  transform: scale(1);
  transition: transform 0.2s linear;
}

.position10:hover, .position16:hover {
  transform: scale(1.1);
}

.position11, .position15{
  height: 16rem;
  filter: blur(1px);
  opacity: 50%;

  transform: scale(1);
  transition: transform 0.2s linear;
}

.position11:hover, .position15:hover {
  transform: scale(1.1);
}

.position12, .position14{
  height: 20rem;
  filter: blur(1px);
  opacity: 60%;

  transform: scale(1);
  transition: transform 0.2s linear;
}

.position12:hover, .position14:hover {
  transform: scale(1.1);
}

.position13{
  height: 24rem;

  transform: scale(1);
  transition: transform 0.2s linear;
}

.position13:hover {
  transform: scale(1.2);
}

@media screen and (max-width: 768px) {

  .agentsContainer{
    height: 20rem;
    margin-top: 1.5rem;
  }

  .agentsContent{
    gap: 1rem;
  }

  .position9, .position17{
    visibility: hidden;
  }

  .position10, .position16{
    height: 4rem;
  }
  
  .position10:hover, .position6:hover {
    transform: scale(1.05);
  }
  
  .position11, .position15{
    height: 6rem;
  }
  
  .position11:hover, .position15:hover {
    transform: scale(1.05);
  }
  
  .position12, .position14{
    height: 10rem;
  }
  
  .position12:hover, .position14:hover {
    transform: scale(1.05);
  }

  .position13{
    height: 14rem;
  }

  .position13:hover {
    transform: scale(1.1);
  }
}