.headerContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-top: 5.35rem;
  height: 2.87rem;
  width: 100%;
}

.headerContent{
  height: 100%;
  width: 55rem;
}

.headerContent img{
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .headerContent{
    width: 21.5rem;
  } 
}